#hero h2 {
    font-size: 3.5em;
}

#hero h1 {
    font-size: 2.1em;
    margin: 1em 0;
}


#hero a {
    text-transform: none !important;
    font-size: 130%;
    font-weight: bold !important;
}

#hero a.rdv {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.menu > li a {
    text-transform: none;
    font-size: 120%;
}

.nav-bar.nav--transparent {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.nav-bar.nav--transparent.nav--fixed {
    text-shadow: none;
}

#hero h1, #hero h2 {
    text-shadow: 2px 2px #000000;
    font-weight: 400;
}

.blog-post__title h1, section.imagebg h2 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

#social-proof div {
    padding: 10px 0 10px 0;
}

#social-proof .fb {
    text-align: center;
}
#social-proof .tw {
    max-height: 28px;
    text-align: center;
}


#social-proof .tw iframe {
    background-color: transparent;
}

.fb-like.fb_iframe_widget iframe {
    background-color: transparent;
    max-height: 90px;
}

.imageblock.padding {
    margin-bottom: 8.125em !important;
}

.logo-module a {
    margin-right: 10px;
}

h4.logo-light {
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.nav-module a.btn {
    font-size: 150%;
    font-weight: bold;
}

a.btn--primary {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    margin-left: 30px;
}

section.page-title {
    padding-bottom: 1em;
}

.blog-post__title.imagebg.parallax {
    padding: 200px 0 100px;
}

.menu a.btn--primary {
    margin-left: 20px;
}

@media (max-width: 767px) {
    .blog-post__title.imagebg.parallax {
        padding: 75px 0 25px;
    }
    .blog-post__title.imagebg .background-image-holder {
        transform: translate3d(0px, 0px, 0px) !important;
    }
    .menu a.btn--primary {
        margin-left: 0px;
    }
}

