<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <meta property="og:url"           content="http://www.psychologue.pro" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Consultation Psy en ligne" />
  <meta property="og:description"   content="Psychologue.pro est un site qui vous permet de consulter en ligne un psychologue social et du travail. Il vous accompagne dans les changements qui jalonnent votre vie et vous aide à atteindre vos objectifs, personnels ou professionnels." />
  <meta property="og:image"         content="http://www.psychologue.pro/images/psychologue_pro_logo.jpg" />
</head>
