<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    {% seo %}
    <meta name="keywords"
          content="Psychologue, EMDR, Trauma, TCC, TOC, Troubles obsessionnels compulsifs, Burnout, Stress, Dépression"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700%7CMontserrat:400,700' rel='stylesheet'
          type='text/css'>
    <meta property="fb:app_id" content="294710420547441"/>
    <meta property="og:site_name" content="Psychologue.pro"/>
    <meta property="og:type" content="blog">
    <meta property="og:url" content="https://psychologue.pro/">
    <meta property="og:image" content="https://psychologue.pro/screenshot.jpg">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description"
          content="Psychologue depuis 16 ans, je vous accompagne dans les changements de votre vie.">
</head>
<body class="scroll-assist">

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=294710420547441";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<a name="home" id="top"></a>
<nav>
    <div class="nav-bar {{ page.navbarclass }}" data-fixed-at="500">
        <div class="nav-module logo-module left">
            <a href="/#home" class="inner-link">
                <h4 class="logo-light">psychologue.pro</h4>
                <h4 class="logo-dark">psychologue.pro</h4>
            </a>
        </div>
        <div class="nav-module menu-module left">
            <ul class="menu">
                <li><a href="/#skills">Compétences</a></li>
                <li><a href="/#curriculum">Parcours</a></li>
                <li><a href="/#tips">Informations pratiques</a></li>
                <li><a href="/#contact">Plan d'accès</a></li>
                <li><a href="/blog">Blog</a></li>
                <li>
                    <a class="btn btn--lg btn--primary" href="https://www.clicrdv.com/valerie-chappey-psychologue"
                       rel="nofollow">
                                <span class="btn__text"><strong>
                                    Prendre rendez-vous
                                </strong></span>
                    </a>
                </li>
                <li></li>
            </ul>
        </div>
    </div>
    <!--end nav bar-->
    <div class="nav-mobile-toggle visible-sm visible-xs">
        &#9776;
    </div>
</nav>

<!--end of modal-container-->
<div class="main-container transition--fade">

    {{ content }}

    <footer class="bg--dark footer-1 text-center-xs" itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <a href="#home">
                        <h4 itemprop="name">psychologue.pro</h4>
                    </a>
                </div>
                <div class="col-md-5 col-sm-8">
                    <em>Mentions légales</em>
                    <br/><strong>Siret</strong> : 478 270 747 00031
                    <br/><strong>n° ADELI</strong> : 59 93 27 541
                </div>
                <div class="col-md-4 col-sm-12">
                    <table width="100%">
                        <tr valign="top" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <th>Adresse</th>
                            <td itemprop="streetAddress">200 rue Jules Delcenserie<br/>
                                <span itemprop="postalCode">59700</span> <span itemprop="addressLocality">Marcq en Baroeul</span>
                                <meta itemprop="addressCountry" content="FR" />France
                            </td>
                        </tr>
                        <tr>
                            <th>Téléphone</th>
                            <td><a href="tel:+33660514227">06 60 51 42 27</a></td>
                            <meta itemprop="image" content="https://psychologue.pro/images/psychologue_pro_logo.jpg" />
                            <meta itemprop="telephone" content="+33660514227" />
                            <meta itemprop="priceRange" content="€€" />
                        </tr>
                        <tr>
                            <th>Mail</th>
                            <td><a href="mailto:contact@psychologue.pro">contact@psychologue.pro</a></td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="row footer__lower text-center-xs">
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="col-sm-6">
                    <span class="type--fine-print">Tous droits réservés.</span>
                </div>
                <div class="col-sm-6 text-right text-center-xs">
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/scripts.js"></script>

</body>
</html>
